.published-post {
    border: 2px solid #2c3e50;
    margin: 30px 0;
    border-radius: 5px;
    border-bottom: 0;
}
.published-post > .publisherName{
    padding: 15px;
    color: #FFF;
    border-bottom: 0.2px solid #2c3e50
}

.published-post > .publisherName a {
    text-transform: capitalize
}

.published-post > p {
    padding: 15px;
    color: #FFF;
}

.published-post .actions-buttons {
    display: flex;
    justify-content: center;
    align-items: center
}

.published-post .actions-buttons > button {
    flex-basis: 34%;
    cursor: pointer;
    background: #2c3e50;
    border: 0;
    padding: 10px 0;
    color: #FFF;
    outline: none !important;
    font-size: 16px;
    transition: .34s;
}

.i-liked,
.published-post .actions-buttons > button:hover {
    color: dodgerblue !important
}

.published-post .actions-buttons > button i {
    margin-right:  7px;
}

.published-post .actions-buttons > button:not(:last-of-type) {
    border-right: 2px solid #34495e
}

.published-post .actions-buttons > span {
    flex-basis: 34%;
    color: dodgerblue;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 5px;
    border-top: 0.2px solid #2c3e50
}

@media (max-width: 400px) {
    .published-post .actions-buttons > span {
        display: none
    }
    .published-post .actions-buttons {
        flex-wrap: wrap
    }
    .published-post .actions-buttons > button {
        flex-basis: 100%
    }
}

.post-comments > div:first-of-type {
    background: #2c3e50;
    min-height: 60px;
    padding: 10px 15px;
    border-top: 2px solid #34495e;
}

.post-comments > div input {
    display: block;
    border: 0;
    outline: none !important;
    border-radius: 25px;
    background: #34495e;
    min-height: 40px;
    width: 100%;
    outline: none !important;
    line-height: 40px;
    padding: 0 15px;
    max-height: 100px;
    overflow: hidden;
    overflow-y: auto;
    color: #FFF
}

.post-comments > div:last-of-type {
    background: #2c3e50;
    padding: 0 15px;
    border-top: 0.2px solid #34495e;
}

.post-comments > div:last-of-type > div {
    padding: 15px 0;
    border-bottom: 0.2px solid #34495e;
    color: #FFF;
    font-size: 17px;
}

.post-comments > div:last-of-type > div strong {
    text-transform: capitalize;
    text-decoration: none;
    color: dodgerblue;
    margin-right: 15px;
    font-size: 18px;
}

.share-model > .back-bone {
    transition: .35s;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(46, 105, 163, 0);
    visibility: hidden;
    opacity: 0;
}

.share-model > .model {
    transition: .35s;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: #34495e;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    padding: 15px;
}

.share-model > .model p {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
}

.share-model > .model > .button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}

.share-model > .model > .button > button {
    margin: 0 15px;
}

.share-model.open > .model {
    top: 50% !important;
    opacity: 1 !important;
    visibility: visible !important
}

.share-model.open > .back-bone {
    background: rgba(52,73,94,.3) !important;
    visibility: visible !important;
    opacity: 1 !important;
}

.sharing {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}