.form-button {
    text-transform: uppercase;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    background: #2c3e50;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0;
    outline: none !important;
    transition: .2s;
}

.form-button:hover {
    background: #2e4256
}

.form-button:focus {
    background: #4c6782
}

.form-button.reverse {
    background: none !important;
    border: 2px solid #2c3e50;
}

.form-button.reverse:hover {
    border-color: #2e4256
}

.form-button.reverse:focus {
    border-color: #4c6782
}