.posts-header {
    text-transform: capitalize;
    color: #FFF;
    margin: 15px 0 0;
    font-weight: 500
}

.my-post {
    border: 2px solid #2c3e50;
    display: block;
    width: 100%;
    color: #FFF;
    padding: 15px;
}