#register {
    margin-top: 100px; 
}

.header-register {
    font-size: 65px;
    font-weight: 900;
    color: #FFF;
    text-transform: uppercase;
}

.register-input-email > div::after {
    content: "";
    font-weight: 400;
}

.register-input-username > div::after {
    content: "";
    font-weight: 400;
}

.register-input-password > div::after {
    content: "";
    font-weight: 900;
}

.form-register-button {
    display: flex;
    justify-content: center;
    align-items: center
}

.form-register-button > button {
    margin-bottom: 30px;
}

@media (max-width: 400px) {
    .header-register {
        font-size: 45px;
    }
}
