.profile-controllers {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    padding: 0
}

.profile-controllers > li a {
    padding: 10px 15px;
    display: block;
    color: #FFF;
    text-transform: capitalize;
    font-size: 17px;
    text-decoration: none !important;
    background: #2c3e50;
}

.profile-controllers > li:not(:last-of-type) a {
    border-right: 2px solid #34495e
}

.profile-controllers > li a.active {
    background: dodgerblue
}

.spacer {
    flex-grow: 1
}