.follow-person {
    margin-bottom: 15px;
}

.follow-person > div {
    padding: 15px;
    overflow: hidden;
    text-overflow: clip;
    border: 2px solid #2c3e50;
    text-align: center
}

.insted-msg {
    font-weight: 300;
    color: #FFF;
}

.following-header {
    text-transform: capitalize;
    color: #fff;
    margin: 15px 0;
    font-weight: 500;
    width: 100%;
}

.prof-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prof-loading section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}