.navbar {
    height: 64px;
    border-bottom: 2px solid #2c3e50;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background: #34495e
}

.navbar .row {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.navbar ul {
    margin: 0;
    height: 62px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center
}

.navbar ul li {
    line-height: 62px;
}
.navbar ul li a {
    padding: 0 15px;
    transition: .35s;
    display: block;
    width: 100%;
    text-decoration: none;
}

.navbar ul li {
    border-right: 1px solid #2c3e50;
}

.navbar ul li,
.navbar ul li a {
    height: 100%;
    color: #FFF;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500
}

.navbar ul li a:hover,
.navbar ul li a.active {
    background: #2980b9;
}