.form-input {
    margin: 20px auto;
    position: relative;
}

.form-input > div::after,
.form-input > div::before {
    transition: .5s;
    content: "";
    position: absolute;
    top: 10px;
    left: 52px;
    height: 24px;
    width: 1px;
    background: #2c3e50
}

.form-input > div::after {
    width: auto;
    height: auto;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: #2c3e50;
    font-size: 22px;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.form-input > input {
    border-radius: 5px;
    width: 100%;
    background: none;
    border: 0;
    border: 2px solid #2c3e50;
    display: block;
    padding: 10px 15px 10px 65px;
    outline: none !important;
    color: #FFF;
    transition: .5s;
}

.form-input > input::placeholder {
    color: #bdc3c7
}

/* valid input */
.form-input.input-valid > div::after {
    color: #28a745 !important;
}

.form-input.input-valid > div::before {
    background: #28a745 !important;
}

.form-input.input-valid >  input {
    border-color: #28a745 !important
}

/* in-valid input */
.form-input.input-invalid > input {
    border-color: #dc3545 !important
}

.form-input.input-invalid > div::before {
    background: #dc3545 !important;
}

.form-input.input-invalid > div::after {
    color: #dc3545 !important;
}

/* focued input */
.form-input > input:focus {
    border-color: #2980b9 !important
}

.form-input > input:focus +div::before {
    background: #2980b9 !important;
}

.form-input > input:focus + div::after {
    color: #2980b9 !important;
}

.alert > div {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-invalid > div {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-valid > div {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}