.site-footer {
    border-top: 2px solid #2c3e50;
    height: 64px;
    line-height: 64px;
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    background: #34495e;
    text-align: center;
    z-index: 9999;
}

.site-footer p {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-weight: 500;
    /* font-style: italic */
}

.site-footer .footer-anchor {
    color: dodgerblue;
    font-weight: 900;
    text-decoration: none
}