.form-login-button {
    display: flex;
    justify-content: center;
    align-items: center
}

.form-login-button > button {
    margin-bottom: 30px;
}

.main-header-h2 {
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center
}

.forget-link > a{
    color: dodgerblue;
    text-decoration: none !important
}

.forget-link > a:hover {
    color: #2980b9 !important
}

.forget-link > a:active {
    color: #2980b9 !important;
}
