.post {
    border: 2px solid #2c3e50;
    border-radius: 10px;
    padding-bottom: 15px;
    margin: 15px 0;
}

.post >  form > div:first-of-type {
    min-height: 75px;
    padding: 15px;
    margin-bottom: 10px;
    max-height: 250px;
    outline:none !important;
    color: #FFF;
    overflow-y: auto;
}

.post >  form > div.no-content::after {
    position: absolute;
    top: 31px;
    left: 31px;
    content: "Enter Your Post*";
    color: #999;

}

.post >  form > div:last-of-type {
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;
}

.showMoreButton {
    text-align: center
}

.showMoreButton > span {
    font-weight: 700;
    color: dodgerblue;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 25px;
}